<?xml version="1.0"?>
<config>
    <modules>
        <Mage_CashCloud>
            <version>0.2.0</version>
        </Mage_CashCloud>
    </modules>

    <global>
        <blocks>
            <cashcloud>
                <class>Mage_CashCloud_Block</class>
            </cashcloud>
        </blocks>
        <models>
            <CashCloud>
                <class>Mage_CashCloud_Model</class>
            </CashCloud>
        </models>
        <resources>
            <cashcloud_setup>
                <setup>
                    <module>Mage_CashCloud</module>
                    <class>Mage_CashCloud_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cashcloud_setup>
        </resources>
        <helpers>
            <cashcloud>
                <class>Mage_CashCloud_Helper</class>
            </cashcloud>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Epay>
                    <files>
                        <default>Mage_CashCloud.csv</default>
                    </files>
                </Mage_Epay>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <cashcloud>
                <use>standard</use>
                <args>
                    <module>Mage_CashCloud</module>
                    <frontName>cashcloud</frontName>
                </args>
            </cashcloud>
        </routers>
        <translate>
            <modules>
                <Mage_Epay>
                    <files>
                        <default>Mage_CashCloud.csv</default>
                    </files>
                </Mage_Epay>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <cashcloud>
                <active>0</active>
                <model>CashCloud/paymentMethod</model>
                <request_expiration>691200</request_expiration>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <auto_set_settings>1</auto_set_settings>
                <device_id>magento</device_id>
                <title>cashcloud</title>
            </cashcloud>
        </payment>
    </default>
</config>
